doctype html
html
	head
		style
			//- we link in the CDN-css files here
			include ../public/css/bootstrap.min.css
			//- Optional theme
			include ../public/css/bootstrap-theme.min.css
			//- This is my css file
			include ../public/css/main.css
	body
		.container
			.row
				.col-xs-12
					.well.text-center
						each user in users
							h2 #{user.firstname} #{user.lastname}
		script
			include ../public/js/jquery.min.js
			include ../public/js/bootstrap.min.js