doctype html
html
	head
		style
			include css/style.css
	body
		.wrap
			.search
				form(action="/search" method="post")
					input.searchTerm(type='text', name='username' placeholder='Enter the name your looking for')
					button.searchButton(type='submit') Search